<footer class="mt-auto">
    <div>
        About
    </div>
    <div>
        Contact
    </div>
    <div>
        © 2022 Copyright:
        <a href="https://cozynest.herokuapp.com/">cozynest.herokuapp.com</a>
    </div>
</footer>