<div>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
    <h1>Welcome to Cozynest!</h1>
</div>