<section class="index-section">
    <div class="col m-3 nopadding d-flex justify-content-end align-items-center">
        <%= image_tag "index.jpg", class: "image" %>
    </div>
    <div class="col m-6 nopadding d-flex flex-column">
        <h1>
            Welcome to Cozynest!
        </h1>
        <p class="paragraph">
            The population of pet owners has increased a lot under the influence of the COVID-19 as lots of people spent their time at home during the lockdown. However, there always has been people who abandon their beloved pets. Even if those pets are rescued, the spaces within the organisations are very limited and unfortunately, Euthanasia against those unadopted pets are inevitable in the end.
        </p>
        <p class="paragraph">
            ASPCA, Ameciran Society for the Prevention of Curelty to Animals, states that they do <em>"recognizes the inevitable necessity for Euthanasia in certian circumstances". Moreover, they "believe that unwanted pets deserve a dignified, painless death rather than suffer from such cruelties as malnutrition, disease of trauma"</em>.        </p>
        <p class="paragraph">
            It is convincing that the capacity of the fcaility is very limited but, just like us, humanbeings, animals are also a part of the Earth, a living creature. We do not have a right, authority and privilege to claim their lives.
        </p>
        <p class="paragraph">
            The idea of Cozynest is to prevent such unwanted happenings as much as possible by connecting the shelters, the organisations, with the individual temporary guardians who could foster the pets before they being adopted to a new family.
        </p>
    </div>
</section>