/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

.root-section {
    margin: 5rem;
    display: flex;
    justify-content: space-evenly;

    .index-image {
        width: 100%;
        height: auto;
    }

    .index-div {
        width: 50%;
        margin: 2em;
    }

    .index-paragraph {
        text-align: justify;
    }
}

// to place the footer at the bottom of the page
body {
    &.bottom-footer {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    >footer {
        margin-top: auto;
        background-color: #343a40;

        >hr {
            border: 0;
            border-top: 1px solid grey;
        }
    }
}

// disable selection
.disable-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

// mouseover dropdown menu
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

a:hover {
    text-decoration: none;
}

.color-white {
    color: white !important;
}

.color-grey {
    color: grey !important;
}
