// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.contact-section {
    margin: 10vh;

    .contact-form-container {
        padding: 3rem;
        display: flex;
        align-items: center;
    }
}